---
- name: Установка имени сервиса
  set_fact:
    service_name: "{{ service_name | default('zalupa-ty-tupaya') }}"
    infra_dir: "/opt/infra/{{ service_name | default('zalupa-ty-tupaya') }}"

- name: Генерация .env
  template:
    src: env.j2
    dest: "{{ infra_dir }}/.env"
    mode: '0600'

- name: Генерация docker-compose
  template:
    src: docker-compose.yaml.j2
    dest: "{{ infra_dir }}/docker-compose.yml"
    mode: '0644'

- name: Запуск бд
  shell: docker compose up -d
  args:
    chdir: "{{ infra_dir }}"