apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: php-storage-{{ service_name }}
  namespace: {{ ns }}
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ storage_size | default('4Gi') }}